venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
.env
*.swp
*~
.DS_Store
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
/.vscode/
/.idea/
#/Jenkinsfile
setup_project.sh
git_push.sh
*.sh
jenkinsfile1
jenkinsfile2
jenkinsfile3
jenkinsfileAZUREwebapp
docker-compose.ymlnotuseforgoogle
